$colors: (
    primary: #264653,
    secondary: #f4a261
);

$light-color: #f4f4f4;
$font-stack: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

$primary-color: map-get($colors, primary);
$secondary-color: map-get($colors, secondary);

@function set-text-color($color) {
    @if(lightness($color) > 70) {
        @return #333;
    } @else {
        @return #fff;
    }
}

@mixin set-backround($color) {
    background-color: $color;
    color: set-text-color($color);
}